body {
    background: url("https://static.wikia.nocookie.net/riskofrain2_gamepedia_en/images/1/1f/Background.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

button {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 15px;
    height: 25px;
    width: 75px;
}

a:hover, a:visited, a:link, a:active {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 15px;
    color: white;
}

input {
    width: 25%;
}

header {
    display: flex;
    align-items: center;
    height: 80px;
    margin: 10px 0px 10px 0px;
    background-color: #00000055;
    padding-left: 10px;
}

#options {
    position: absolute;
    left: 1%;
    width: 70%;
}

#title {
    font-family: 'Roboto', sans-serif;
    color: white;
    text-align: center;
    margin: 0 auto;
    padding: 0px;
    width: 30%;
}

.icon {
    width: 48px;
    height: 48px;
    border: 1px solid #cccccc;
    background-color: #aaaaaa;
}

#item_selects, #item_lists {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.item_select, .item_list {
    display: grid;
    grid-gap: 5px 5px;
    grid-template-columns: repeat(5, 48px);
    grid-template-rows: repeat(5, 48px);
    padding: 10px 5px 5px 5px;
    justify-content: center;

    background: #555555;
    border: 2px solid;
    width: 270px;
    height: 270px;
}

.item_list {
    min-height: 250px;
}

.item_list .icon {
    text-align: center;
}

.item_amount {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: white;

    z-index: 1;
    margin: 0 auto;
    text-align: right;
    position: relative;
    right: 5px;
    bottom: 47px;
}

.border_w { border-color: #dee4e9; }
.border_g { border-color: #73c047; }
.border_r { border-color: #f06449; }
.border_y { border-color: #ccd83a; }
.border_b { border-color: #53d9ea; }